<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bisbardas</title>
    <link href="style.css" rel=stylesheet type="text/css" />
    <script type="text/javascript" src="jquery-2.min.js"></script>
    <script type="text/javascript" src="style.js"></script>
  </head>
  <body>
    <div id="bb-head-container">
      <div id="container-title">&nbsp;
        <div id="head-title">
          <img src="img/title.png" />
        </div>
        <div id="head-login">
          <form name="form-login" action="/login" method="POST">
            <div class="form-login">
              <div class="form-login-elem form-login-input" title="Usuario"><img src="img/people.png" /><input type="text" name="username" /></div>
              <div class="form-login-elem form-login-input" title="Contraseña"><img src="img/authenticator.png" /><input type="password" name="password" /></div>
              <div class="form-login-elem form-login-button"><input type="submit" value="Iniciar sesión"></div>
            </div>
          </form>
        </div>
      </div>
      <div id="container-menu">
        <div id="head-menu">
        </div>
        <div id="head-userinfo">
        </div>
      </div>
    </div>
    <div id="bb-body-container">
      <div class="form-registry">
        <div class="title">
            Bienvenidos a Bisbardas, la red social para jubilados
        </div>
        <div class="info">
            Registrate para hacer amigos con los que poder jugar a la petanca
        </div>
        <div class="form">
          <form name="form-registry" action="/user" method="POST">
            <div class="form-line">
              <span class="form-line-title">Dirección de email</span>
              <span class="form-line-input"><input type="text" name="username"/></span>
            </div>
            <div class="form-line">
              <span class="form-line-title">Contraseña</span>
              <span class="form-line-input"><input type="password" name="password"/></span>
            </div>
            <div class="form-line">
              <span class="form-line-title">Repetir contraseña</span>
              <span class="form-line-input"><input type="password" name="password2"/></span>
            </div>
            <div class="form-line">
              <span class="form-line-space"></span>
            </div>
            <div class="form-line">
              <span class="form-line-title">Nombre</span>
              <span class="form-line-input"><input type="text" name="firstname"/></span>
            </div>
            <div class="form-line">
              <span class="form-line-title">Apellidos</span>
              <span class="form-line-input"><input type="text" name="lastname"/></span>
            </div>
            <div class="form-line">
              <span class="form-line-space"></span>
            </div>
            <div class="form-line">
              <span class="form-line-title">&nbsp;</span>
              <span class="form-line-title"><input type="submit" value="Realizar registro"/></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
